---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ConstructorInitializerIndentWidth: 8
IndentWidth:     4
...
